.container-primary {
  width: 1000px;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.534);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border-radius: 20px;
  border: solid 2px white;

  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.144);
}
.left-container,
.right-container {
  width: 50%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 20px;
}
h2 {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  margin: -10px 0 -10px 30px;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}

.result {
  width: 200px;
  height: 50px;

  border-radius: 10px;

  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px auto;
}

h4 {
  font-size: 40px;
  text-align: center;
  margin-top: 15px;
}
.line {
  height: 80%;

  border-left: dashed 2px #999;
}

.logo {
  width: 250px;
  margin-top: 0%;
  margin-bottom: 50px;
  margin-left: -200px;
}
.left-container {
  align-items: center;
  text-align: center;
}
.left-container h2 {
  font-size: 30px;
  margin-top: 10px;
}
h1 {
  font-size: 35px;
  margin: 0;
  text-transform: uppercase;
}
input {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #c4c4c462;
  margin: 2px 0;
  padding: 10px;
}
::placeholder {
  font-size: 15px;
}

@media (min-width: 500px) and (max-width: 1023px) {
  .container-primary {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  .line {
    width: 80%;
    height: 0px;
    border: dashed 2px #c4c4c4;
  }
  .left-container,
  .right-container {
    width: 100%;
    padding: 20px;
  }
  .left-container {
    height: 70%;
  }
  .right-container {
    height: 30%;
  }
  h1 {
    font-size: 25px;
    margin: 0px 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  p,
  h3 {
    font-size: 14px;
  }
  .right-container h2 {
    margin: 0;
  }
  .container-row {
    width: 100%;
    display: flex;
  }
  .container-row div {
    width: 50%;
    padding: 10px;
  }
}
